aside {
    padding: 0 48px;
}

aside h1 {
    font-size: 32px;
    margin-bottom: 40px;
}

.left-container {
    min-width: 330px;
}

.left-container.hidden {
    display: none;
}

.stats + .stats {
    margin-top: 28px;
}

.stats h2 {
    margin-bottom: 16px;
}

.stats section + section {
    margin-top: 8px;
}

.options {
    gap: 24px;
    display: flex;
    flex-direction: column;
}

.options div {
    gap: 8px;
    display: flex;
    flex-direction: column;
}

#ranking {
    min-width: 440px;
}

#ranking ol li {
    margin-top: 16px;
}

#ranking ol li.current-player {
    font-weight: 600;
}