#screen {
    width: 70vh;
    height: 70vh;
    border: 10px solid #999;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
    transition: all .2s;
}