* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: #444;
    color: white;
    font: 16px sans-serif;
    
    gap: 64px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

button {
    cursor: pointer;
    padding: 8px 0;
    transition: all .2s;
}

button:hover {
    filter: brightness(.9);
}

button:active {
    filter: brightness(.8);
}

input {
    padding: 4px;
}

button, input {
    border-radius: 3px;
    border: none;
    background: #e1e1e1;
}

.container {
    width: 100vw;
    display: flex;
    justify-content: space-around;
}