header {
    width: 100%;
    padding: 0 64px;
    display: flex;
    justify-content: space-between;
}

header div {
    gap: 8px;
    display: flex;
    align-items: center;
}

header label {
    font-size: 24px;
    margin-right: 8px;
}

header button {
    padding: 4px;
}

.color-option {
    width: 24px;
    height: 24px;
}