* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: #444;
    display: flex;
    align-items: center;
    justify-content: center;
}

#screen {
    width: 500px;
    height: 500px;
    border: 10px solid #999;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
}