* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: #444;
    font: 16px sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    cursor: pointer;
}

.container {
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

#screen {
    width: 70vh;
    height: 70vh;
    border: 10px solid #999;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
    transition: all .2s;
}

/* #options-container {
    display: flex;
    flex-direction: column;
} */

#options-container h2 {
    display: inline-block;
    font-size: 20px;
}

.options {
    margin-top: 32px;
    gap: 24px;
    display: flex;
    flex-direction: column;
}

.options div {
    gap: 8px;
    display: flex;
    flex-direction: column;
}

.inputs input {
    padding: 4px 0;
}

.buttons button {
    padding: 8px 0;
}

/* .chronometer-container {
    display: flex;
    align-items: center
} */

#ranking, #options-container {
    padding: 0 64px;
    color: white;
}

h1 {
    font-size: 32px;
    margin-bottom: 32px;
}

#ranking ol li {
    margin-top: 16px;
}

#ranking ol li.current-player {
    font-weight: 600;
}